// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

// Utils
@import "utils/vars";
@import "utils/mixins";
@import "utils/reset";

// Components
@import "content/header";
@import "content/main-wrapper";
@import "content/animation";
@import "content/buttons";
@import "content/main-screen";
@import "content/second-block";
@import "content/third-block";
@import "content/cta-block";
@import "content/footer";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 15px;
  }
}

body {
  margin: 0;
  padding: 0;
  background: $background;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  padding: 0 15px;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;

  &.--h-100 {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    height: auto;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &.--mobile-container {

    @media only screen and (max-width: $phoneWidth) {
      padding: 0;
    }

    @media screen and (max-width: $smDesktopWidth) {
      padding: 0;
    }
  }

  @media screen and (max-width: $smDesktopWidth) {
    max-width: 100%;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: 100%;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }
}