// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #ffffff;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$lightFontWeight         : 300;
$boldFontWeight          : 700;
$mainLineHeight          : 1.36;

$desktopWidth            : 1184px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$white-color             : #ffffff;
$black-color             : #000000;
$btn-header              : #14131c;
$btn-header-hover        : #1e1d29;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;
$background              : #000000;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

// Font size
$font-16                 : 16px;
$font-22                 : 22px;
$font-52                 : 52px;