.anim-overflow-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.anim-overflow {
  white-space: nowrap;
  z-index: 100;
  animation: floatText 5s infinite alternate ease-in-out;
}

@-webkit-keyframes floatText {
  from {
    bottom: -100%;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes appleIcon {
  from {
    transform: translateX(0px);
    opacity: 0;
  }

  to {
    transform: translateX(-72px);
    opacity: 1;
  }
}

@-webkit-keyframes appleIconMobile {
  from {
    transform: translateX(0px);
    opacity: 0;
  }

  to {
    transform: translateX(-54px);
    opacity: 1;
  }
}

@-webkit-keyframes brainIcon {
  from {
    transform: translateX(-72px);
    opacity: 0;
  }

  to {
    transform: translateX(-144px);
    opacity: 1;
  }
}

@-webkit-keyframes brainIconMobile {
  from {
    transform: translateX(-54px);
    opacity: 0;
  }

  to {
    transform: translateX(-108px);
    opacity: 1;
  }
}

.anim-brain {
  animation: brainIcon 0.4s alternate ease-in-out;
  animation-fill-mode:forwards;  

  @media only screen and (max-width: $phoneWidth) {
    animation: brainIconMobile 0.4s alternate ease-in-out;
    animation-fill-mode:forwards; 
  }
}

.anim-apple {
  animation: appleIcon 0.4s alternate ease-in-out;
  animation-fill-mode:forwards;  

  @media only screen and (max-width: $phoneWidth) {
    animation: appleIconMobile 0.4s alternate ease-in-out;
    animation-fill-mode:forwards; 
  }
}

.anim-sleep {
  animation: sleepIcon 0.4s alternate ease-in-out;
  animation-fill-mode:forwards; 
  
  @media only screen and (max-width: $phoneWidth) {
    animation: sleepIconMobile 0.4s alternate ease-in-out;
    animation-fill-mode:forwards; 
  }
}

@-webkit-keyframes sleepIcon {
  from {
    transform: translateX(0px);
    opacity: 0;
  }

  to {
    transform: translateX(72px);
    opacity: 1;
  }
}

@-webkit-keyframes sleepIconMobile {
  from {
    transform: translateX(0px);
    opacity: 0;
  }

  to {
    transform: translateX(54px);
    opacity: 1;
  }
}

.anim-med {
  animation: medIcon 0.4s alternate ease-in-out;
  animation-fill-mode:forwards;  

  @media only screen and (max-width: $phoneWidth) {
    animation: medIconMobile 0.4s alternate ease-in-out;
    animation-fill-mode:forwards; 
  }
}

@-webkit-keyframes medIcon {
  from {
    transform: translateX(72px);
    opacity: 0;
  }

  to {
    transform: translateX(144px);
    opacity: 1;
  }
}

@-webkit-keyframes medIconMobile {
  from {
    transform: translateX(54px);
    opacity: 0;
  }

  to {
    transform: translateX(108px);
    opacity: 1;
  }
}

.anim-phone-top {
  animation: phoneTop 0.4s alternate ease-in-out;
  animation-fill-mode:forwards; 
}
@-webkit-keyframes phoneTop {
  from {
    top: -533px;
    right: -300px;
  }

  to {
    top: -230px;
    right: 0;
  }
}

.anim-phone-bottom {
  animation: phoneBottom 0.4s alternate ease-in-out;
  animation-fill-mode:forwards; 
}
@-webkit-keyframes phoneBottom {
  from {
    right: 200px;
    top: 450px;
  }

  to {
    right: -110px;
    top: 82px;
  }
}