.btn {
  display: inline-block;
  font-weight: $mainFontWeight;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 15px 48px;
  font-size: rem(20);
  line-height: 1;
  border-radius: 12px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    color: #212529;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
  }

  &:disabled {
    opacity: 0.65;
  }

  &.--header {
    background: $btn-header;
    border-color: $btn-header;
    color: $white-color;
    padding: 13px 40px;

    @media only screen and (max-width: $phoneWidth) {
      font-size: rem(16);
      padding: 12px 24px;
    }

    &:hover {
      background: $btn-header-hover;
      border-color: $btn-header-hover;
      color: $white-color;
    }

    &:focus {
      background: $btn-header;
      border-color: $btn-header;
      color: $white-color;
    }
  }

  &.--primary {
    background-image: linear-gradient(103deg, #A063F8 0%, #2BC6B0 100%);
    background-size: 120%;
    background-position: -10px;
    //border-color: linear-gradient(to right, #38b8f2 -91%, #a063f8 7%, #2bc6b0 115%);
    font-size: rem(22);
    font-weight: 600;
    color: $white-color;

    &:hover {
      color: $white-color;
      background-size: 160%;
      background-position: -80px;
    }
  }

}

