.cta-block {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  height: 575px;
  overflow: hidden;
  background: #151519;

  @media only screen and (max-width: $phoneWidth) {
    height: 510px;
  }

  @media screen and (max-width: $smDesktopWidth) {
    height: 710px;
  }

  &__row {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    flex: 1 1 auto;

    @media only screen and (max-width: $phoneWidth) {
      flex-flow: column nowrap;
    }

    @media screen and (max-width: $smDesktopWidth) {
      flex-flow: column nowrap;
    }
  }

  &__box {
    display: flex;
    width: auto;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    @media only screen and (max-width: $phoneWidth) {
      order: 1;
      justify-content: flex-start;
      align-items: center;
      padding-top: 52px;
    }

    @media screen and (max-width: $smDesktopWidth) {
      order: 1;
      justify-content: flex-start;
      align-items: center;
      padding-top: 80px;
    }
  }

  &__header {
    display: block;
    font-size: rem(48);
    color: $white-color;
    text-align: left;
    font-weight: $boldFontWeight;
    line-height: 1;
    margin-bottom: 16px;

    @media only screen and (max-width: $phoneWidth) {
      font-size: rem(34);
      line-height: 1.24;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  &__subheader {
    display: block;
    font-size: rem($font-22);
    text-align: left;
    color: $white-color;
    margin-bottom: 33px;
    max-width: 400px;

    @media only screen and (max-width: $phoneWidth) {
      font-size: rem(15);
      font-weight: 500;
      max-width: 240px;
      line-height: 1.33;
      text-align: center;
    }

    @media screen and (max-width: $smDesktopWidth) {
      text-align: center;
      max-width: 330px;
    }
  }

  &__btn-group {
    display: flex;
    width: auto;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;  
  }

  &__btn {
    display: block;
    width: 172px;
    height: 48px;

    @media only screen and (max-width: $phoneWidth) {
      width: 151px;
      height: 42px;
    }
    
    &.--ios {
      margin-right: 6px;
      svg {
        width: 151px;
        height: 42px;
      }

      &:hover {
        svg {
          g {
            g {
              path:first-of-type {
                transition: all 0.2s;
                opacity: 0.6;
              }
            }
          }
          
        }
      }
      // background: url("/assets/img/appstore.svg") no-repeat center center;
      // background-size: 172px 48px;
      // margin-right: 25px;
    }

    &.--android {
      margin-left: 6px;
      svg {
        width: 151px;
        height: 42px;
      }
      // background: url("/assets/img/google-play.svg") no-repeat center center;
      // background-size: 172px 48px;

      &:hover {
        svg {
          g {
            g {
              g {
                path:first-of-type {
                  transition: all 0.2s;
                  opacity: 0.6;
                }
              }
              
            }
          }
          
        }
      }
    }
  }

  &__phone-container {
    display: flex;
    position: relative;
    width: auto;
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;
    height: 575px;

    @media only screen and (max-width: $phoneWidth) {
      order: 2;
      position: absolute;
      top:200px;
      width: 100%;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
    }

    @media screen and (max-width: $smDesktopWidth) {
      order: 2;
      position: absolute;
      top:280px;
      width: 100%;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__phone {
    display: block;
    position: absolute;
    width: 600px;
    bottom:-550px;

    @media only screen and (max-width: $phoneWidth) {
      bottom: -70px;
      max-width: 350px;
    }

    @media (min-width: $phoneWidth) and (max-width: $smDesktopWidth) {
      max-width: 580px;
      bottom: -420px;
    }
  }
}