.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-flow: column nowrap;
  padding: 116px 0px;
  background: $background;


  @media only screen and (max-width: $phoneWidth) {
    padding: 42px 0px;
  }

  @media screen and (max-width: $smDesktopWidth) {
    padding: 80px 0px;
  }

  &__row {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  &__copy {
    display: block;
    width: auto;
    font-size: rem($font-22);
    color: #727289;
    text-align: center;
    line-height: 1;

    @media only screen and (max-width: $phoneWidth) {
      font-size: rem(15);
      font-weight: 500;
      line-height: 1.33;
      text-align: center;
      max-width: 230px;
    }
  }
}