.header-page {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;

  &__row {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 128px;

    @media only screen and (max-width: $phoneWidth) {
      min-height: 92px;
    }
  }

  &__link {
    display: block;
    width: auto;
  }

  &__logo {
    display: block;
    height: 30px;
    flex-shrink: 0;

    @media only screen and (max-width: $phoneWidth) {
      max-height: 22px;
      height: auto;
    }
  }
}