.main-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  z-index: 200;
  margin-bottom: 250px;

  @media only screen and (max-width: $phoneWidth) {
    margin-bottom: 120px;
  }

  @media screen and (max-width: $smDesktopWidth) {
    margin-bottom: 178px;
  }
}