.second-block {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  height: 434px;
  overflow: hidden;
  background-image: linear-gradient(111deg, #29c4b3 20%, #40e299 100%);

  @media only screen and (max-width: $phoneWidth) {
    height: auto;
    min-height: 620px;
  }

  &__row {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;

    @media only screen and (max-width: $phoneWidth) {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  &__box {
    display: flex;
    width: auto;
    flex: 1 0 420px;
    flex-flow: column nowrap;

    @media only screen and (max-width: $phoneWidth) {
      height: 100%;
      flex: 1 0 100%;
      position: absolute;
      top:0;
      justify-content: center;
      align-items: center;
    }
  }

  &__header {
    display: block;
    width: auto;
    font-size: rem(48);
    line-height: 1;
    margin-bottom: 22px;
    font-weight: $boldFontWeight;
    color: $white-color;

    @media only screen and (max-width: $phoneWidth) {
      font-size: rem(34);
      line-height: 1.24;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  &__subheader {
    display: block;
    width: auto;
    max-width: 400px;
    font-size: rem($font-22);
    color: $white-color;

    @media only screen and (max-width: $phoneWidth) {
      font-size: rem(15);
      font-weight: 500;
      line-height: 1.33;
      text-align: center;
    }
  }

  &__phone-container {
    display: flex;
    position: absolute;
    width: 100%;
    flex: 1 1 auto;
    height: 100%;
    flex-flow: column nowrap;

    @media only screen and (max-width: $phoneWidth) {
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
    }
  }

  &__phone-up {
    display: block;
    position: absolute;
    width: 538px;
    top: -533px;
    right: -300px;
    // top: -230px;
    // right: 0;
    opacity: 0;

    @media only screen and (max-width: $phoneWidth) {
      top: -373px;
      right: -300px;
      max-width: 350px;
    }

    @media (min-width: $phoneWidth) and (max-width: $smDesktopWidth) {
      max-width: 400px;
      top: -393px;
      right: -300px;
    }
  }

  &__phone-down {
    display: block;
    position: absolute;
    width: 538px;
    right: 200px;
    top: 450px;
    opacity: 0;
    // right: -110px;
    // top: 82px;

    @media only screen and (max-width: $phoneWidth) {
      right: 230px;
      top: 620px;
      max-width: 350px;
    }

    @media (min-width: $phoneWidth) and (max-width: $smDesktopWidth) {
      max-width: 400px;
      
    }
  }
}