.third-block {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  background: $background;
  height: 840px;
  overflow: hidden;

  @media only screen and (max-width: $phoneWidth) {
    height: 568px;
  }

  &__column {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    padding-top: 132px;
    justify-content: flex-start;
    align-items: center;

    @media only screen and (max-width: $phoneWidth) {
      padding-top: 72px;
    }

    @media screen and (max-width: $smDesktopWidth) {
      padding-top: 80px;
    }
  }

  &__row {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    margin-bottom: 27px;
  }

  &__icon {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;

    @media only screen and (max-width: $phoneWidth) {
      width: 48px;
      height: 48px;
    }

    &.--brain {
      //background: url("/assets/img/icon-brain.svg") no-repeat center center;
      background-size: 56px 56px;
      background-repeat: no-repeat;
      background-position: center center;

      @media only screen and (max-width: $phoneWidth) {
        background-size: 48px 48px;
      }
    }

    &.--apple {
      //background: url("/assets/img/icon-apple.svg") no-repeat center center;
      background-size: 56px 56px;
      background-repeat: no-repeat;
      background-position: center center;

      @media only screen and (max-width: $phoneWidth) {
        background-size: 48px 48px;
      }
    }

    &.--mail {
      //background: url("/assets/img/icon-mail.svg") no-repeat center center;
      background-size: 56px 56px;
      background-repeat: no-repeat;
      background-position: center center;

      @media only screen and (max-width: $phoneWidth) {
        background-size: 48px 48px;
      }
    }

    &.--sleep {
      //background: url("/assets/img/icon-sleep.svg") no-repeat center center;
      background-size: 56px 56px;
      background-repeat: no-repeat;
      background-position: center center;

      @media only screen and (max-width: $phoneWidth) {
        background-size: 48px 48px;
      }
    }

    &.--med {
      //background: url("/assets/img/icon-med.svg") no-repeat center center;
      background-size: 56px 56px;
      background-repeat: no-repeat;
      background-position: center center;

      @media only screen and (max-width: $phoneWidth) {
        background-size: 48px 48px;
      }
    }
  }

  &__box {
    display: flex;
    width: auto;
    flex-flow: column nowrap;
    padding-bottom: 44px;
    flex-shrink: 0;

    @media only screen and (max-width: $phoneWidth) {
      justify-content: center;
      align-items: center;
    }

    @media screen and (max-width: $smDesktopWidth) {
      justify-content: center;
      align-items: center;
      padding-bottom: 60px;
    }
  }

  &__header {
    display: block;
    font-size: rem($font-52);
    color: $white-color;
    font-weight: $lightFontWeight;
    text-align: center;
    margin-bottom: 23px;

    @media only screen and (max-width: $phoneWidth) {
      font-size: rem(34);
      line-height: 1.24;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  &__subheader {
    display: block;
    width: auto;
    font-size: rem($font-22);
    font-weight: $mainFontWeight;
    color: $white-color;
    text-align: center;
    max-width: 500px;

    @media only screen and (max-width: $phoneWidth) {
      font-size: rem(15);
      font-weight: 500;
      line-height: 1.33;
      text-align: center;
      max-width: 250px;
    }
  }

  &__top-users {
    display: flex;
    position: relative;
    width: 100%;
    height: 710px;
    //background: url("/img/top-users.png") no-repeat top center;
    background-repeat: no-repeat;
    background-position: top center;
    background-position-x: 53%;
    background-size: 630px auto;

    @media only screen and (max-width: $phoneWidth) {
      background-size: 100% auto;
      background-position-x: 10px;
    }

    @media screen and (max-width: $smDesktopWidth) {
      background-position-x: 60%;
    }
  }
}